@model NeatBurger.Models.ViewModels.IndexViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "AnonLayout";
}

<section class="menu3">

    <div>
        <h1>NUESTRO MENÚ</h1>
        <h3>Tradicionales</h3>

        @foreach(var Menu in Model.MenuList)
        {
            if(Menu.Seleccionado)
            {
                <h2 class="seleccionado"><a href="~/Menu/@Menu.Nombre.Replace(" ","-")"><span>@Menu.Nombre</span> <span class="price">@Menu.Precio.ToString("c")</span></a></h2>
            }
            else
            {
                <h2><a href="~/Menu/@Menu.Nombre.Replace(" ","-")"><span>@Menu.Nombre</span> <span class="price">@Menu.Precio.ToString("c")</span></a></h2>
            
            }
        }

        <h3>Favoritas del chef</h3>
        @foreach(var Menu in Model.ChefFavList)
        {
            if (Menu.Seleccionado)
            {
                <h2 class="seleccionado"><a href="~/Menu/@Menu.Nombre.Replace(" ","-")"><span>@Menu.Nombre</span> <span class="price">@Menu.Precio.ToString("c")</span></a></h2>
            }
            else
            {
                <h2><a href="~/Menu/@Menu.Nombre.Replace(" ","-")"><span>@Menu.Nombre</span> <span class="price">@Menu.Precio.ToString("c")</span></a></h2>

            }
        }
        <h3>Tendencia</h3>
        @foreach (var Menu in Model.TendenciaList)
        {
            if (Menu.Seleccionado)
            {
                <h2 class="seleccionado"><a href="~/Menu/@Menu.Nombre.Replace(" ","-")"><span>@Menu.Nombre</span> <span class="price">@Menu.Precio.ToString("c")</span></a></h2>
            }
            else
            {
                <h2><a href="~/Menu/@Menu.Nombre.Replace(" ","-")"><span>@Menu.Nombre</span> <span class="price">@Menu.Precio.ToString("c")</span></a></h2>

            }
        }
    </div>
    <div>
        <img src="~/hamburguesas/@(Model.DisplayMenu != null ? Model.DisplayMenu.Id : Model.MenuList.First().Id).png" />
        <p>@(Model.DisplayMenu != null ? Model.DisplayMenu.Descripción : "Selecciona una hamburguesa")</p>
    </div>
</section>